<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jumichel.ordertheday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderTheDay">
        <activity
            android:name=".ListOfAppointmentsActivity"
            android:exported="false"
            android:parentActivityName=".AppointmentsActivity"/>
        <activity
            android:name=".AppointmentsActivity"
            android:exported="false"
            android:parentActivityName=".Appointments" />
        <activity
            android:name=".Appointments"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>